body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f4f4f4;
}

header {
    background-color: #004a99;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header .email-banner {
    background-color: #003366;
    color: #ffffff;
    padding: 5px 0;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    background-color: #004a99;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .email-banner {
    background-color: #003366;
    padding: 10px 0;
}

.social-media-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.social-media-links img {
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
